<header class="masthead">
    <nav class="language-nav">
    <ul>
        <li><a href=""> <span>CSS</span> </a></li>
        <li><a href=""> <span>HTML</span> </a></li>
        <li><a href=""> <span>Javascript</span> </a></li>
        <li><a href=""> <span>Ruby</span> </a></li>
    </ul>
    </nav>

<img src="assets/AA_Times_Logo.png" class='logo'>

    <ul class="masthead-links">
        <li><time><span>Tuesday, October 18, 2016</span></time></li>
        <li><a href="a"><i class="far fa-newspaper"></i><span>Today’s Paper</span></a></li>
        <li><a href="a"><i class="fas fa-video"></i><span>Video</span></a></li>
        <li><button><span>77°F</span></button></li>
        <li><button><span>AAO <strong>+100%</span></button></li>
    </ul>
</header>